# Byte-compiled / optimized / DLL files
*.html
datasets/
__pycache__/
.vscode/
.venv/
venv/
logloglog/
.ipynb_checkpoints/
.DS_Store
.cache
*.log
__pypackages__/
.idea/
result/*
FromServer/*
time_accuracy_plots/